#contato {
  background-image: url(../img/fundo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--verde);
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato {
  background-color: var(--branco);
  width: 90vw;
  border-radius: 20px;
  box-shadow: 3px -2px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contato h1 {
  font-size: 36px;
  font-weight: var(--light);
  color: var(--cinza);
  text-align: center;
  line-height: 2.5rem;
}

.contato h1 span {
  font-size: 50px;
  font-weight: var(--bold);
  color: var(--cinza);
  text-align: center;
}

.contato p {
  font-size: 15px;
  font-weight: var(--light);
  color: var(--cinza);
  margin: 1rem 1rem;
}

.contato img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
}

.contato a {
  color: var(--cinza);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.redes-sociais {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 15%;
}
.redes-sociais a {
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--verde);
  margin: .5rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp,
.telefone,
.email {
  display: flex;
  justify-content: start;
  align-items: center;
}
.email img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.8rem;
}
.email a {
  font-size: 100%;
}
#facebook,
#instagram,
#twitter {
  width: 2rem;
  height: 2rem;
}

.contato form input,
.contato form textarea {
  width: 90%;
  height: 1.5rem;
  margin: 0.5rem 5%;
  background-color: var(--cinza-muito-claro);
  border-radius: 8px;
  border: none;
  padding: 1.2rem .5rem; 
  color: var(--cinza);
}
.contato form textarea {
  height: 5rem;
  padding-top: .5rem;
}
input::placeholder,
.contato form textarea::placeholder {
  color: var(--cinza-claro);
}
.contato form input:focus,
.contato form textarea:focus{
  border: none;
}
.contato form button {
  height: 2rem;
  width: 6rem;
  background-color: var(--verde);
  color: var(--cinza);
  border-radius: 50px;
  margin: 1rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.logo-contato{
  display: none;
}
.mobile{
  display: block;
}
.desktop{
  display: none;
}

@media screen and (min-width: 1024px) {
  .contato {
    width: 60vw;
    flex-direction: row-reverse;
  }
  .esquerda-contato,.direita-contato{
    width: 50%;
  }
  .redes-sociais{
    display: none;
  }
  .logo-contato{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  .logo-contato img{
    width: 60%;
    height: auto;
  }
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
}
