footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cinza);
}

footer a {
  text-decoration:underline;
  color: var(--cinza);
}
footer h3{
    font-weight: var(--regular);
}
