#home {
  margin-top: 15vh;
  width: 100vw;
  background-color: var(--verde);
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
}
#home .swiper-slide img {
  width: 100vw;
}
#home .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#home .swiperhome{
  width: 100vw;
}
@media screen and (min-width: 768px) {
  #home {
    margin-top: -8vh;
  }
}
@media screen and (min-width: 1024px) {
  #home {
    margin-top: -3vh;
  }
}
@media screen and (min-width: 1440px) {
  #home {
    height: 110vh;
    margin-top: -20vh;
  }
}
/* 
#home{
  overflow-x: hidden;
  height: 80vh;
  background-color: var(--white);
}
#home .swiper-slide img {
  width: 100vw;
  height: 80vh;
}

#home .swiperhome{
  width: 200vw;
}



#home {
  width: 100vw;
  height: 80vh;
  background-color: var(--cinza);
  overflow: hidden;
}
#home .swiper-slide img {
  width: 50vw;
  height: 80vh;
}
#home .swiper-slide {
  display: block;
}
#home .swiperhome{
  width: 100vw;
} */