#home {
  width: 100vw;
  height: 90vh;
  background-color: var(--cinza);
  overflow: hidden;
  margin-top: 10vh;
}
#home .swiper-slide img {
  width: 200vw;
  height: 90vh;
}
#home .swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .swiperhome{
  width: 400vw;
}


@media screen and (min-width: 768px) {
  #home .swiper-slide img {
    width: 100vw;
    height: 90vh;
  }
  #home .swiperhome{
    width: 200vw;
  }
}
@media screen and (min-width: 1200px) {
  #home{
    height: 115vh;
    background-color: var(--white);
  }
  #home .swiper-slide img {
    width: 100vw;
    height: 115vh;
  }

  #home .swiperhome{
    width: 200vw;
  }
}
