#portifolio {
  padding: 2rem 0 0 0;
}

.titulo-portifolio {
  font-weight: var(--light);
  text-align: center;
  margin-bottom: 2rem;
  color: var(--cinza);
  font-size: 1.7rem;
  text-transform: uppercase;
}
.span-portifolio {
  font-weight: var(--bold);
  font-size: 2.5rem;
}

.swiper-slide img {
  width: 70%;
  height: auto;
}
.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--cinza);
}

.bnt-ver-mais-portifolio{
    width: 8rem;
    padding: .5rem;
    font-size: 1.3rem;
    border-radius: 50px;
    background-color: var(--verde);
    color: var(--cinza);
    font-weight: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 2rem auto;
}

@media screen and (min-width: 768px) {
  #portifolio {
    padding: 2rem 5rem;
  }
  #portifolio .swiper-slide img {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  #portifolio {
    padding: 2rem 10rem;
  }
  #portifolio .swiper-slide img {
    width: 40%;
  }
}
