#servicos {
  width: 100vw;
  background-color: var(--verde);
  padding: 2rem;
  color: var(--cinza);
  -webkit-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
}
.titulo-servicos {
  align-self: start;
  font-weight: var(--light);
  font-size: 2rem;
  color: var(--cinza);
}
#servicos img {
  display: none;
}

#servicos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#servicos div a {
  background-color: var(--branco);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) {
  #servicos {
    padding: 2rem 5rem;
  }
  #servicos p {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  #servicos {
    padding: 0 5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .titulo-servicos {
    align-self: start;
    font-weight: var(--light);
    font-size: 2rem;
    color: var(--cinza);
  }
  #servicos img {
    display: flex;
    width: 40vw;
  }

  #servicos div {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-top: 2rem;
  }
  #servicos div a {
    background-color: var(--branco);
    padding: 0.5rem 1rem;
    border-radius: 50px;
  }
}
@media screen and (min-width: 1440px) {
  #servicos {
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .titulo-servicos {
    align-self: start;
    font-weight: var(--light);
    font-size: 2rem;
    color: var(--cinza);
  }
  #servicos img {
    display: block;
    width: 30vw;
  }

  #servicos div {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-top: 2rem;
  }
  #servicos div a {
    background-color: var(--branco);
    padding: 0.5rem 1rem;
    border-radius: 50px;
  }
}
